/* catch alls */

* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.navbar h4 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
}

.navbar img {
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.navbar a :hover {
    text-decoration:underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2.5px;
    text-decoration-color: #ff302c;
}